<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>
        Appointment Booking
    </h3>
    <p>You have been booked for an appointment on Sigma by the user <strong>"{{user}}"</strong>. Here's what they had to say.</p>
    <p>{{message}}</p>
    <p>Here's some personal information from the booker of this appointment</p>
    <p>First Name: <strong>{{first_name}}</strong></p>
    <p>Last Name: <strong>{{last_name}}</strong></p>
    <p>Email Address: <strong>{{email}}</strong></p>
    <p>Phone Number: {{phone_number}}</p>

    <p>After going through this, be sure to send the booker of this appointment a message as to when you'll be available for a session.</p>
    <p>Best Regards</p>
    <p><i>The Sigma Team</i></p>

</body>
</html>