{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/aos/aos.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/img/logo.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons-1.10.3/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/aos/aos.css' %}">
	{% block css %}{% endblock %}
    <title>Sigma | {{title}}</title>
    <style>
        section{
            padding: 12px 0;
        }
    </style>
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      	<nav id="sidebar" class="animate__animated animate__flipInX sticky-top">
			<div class="custom-menu">
				<button type="button" id="sidebarCollapse" class="btn btn-custom">
					<i class="bi bi-text-right fw-bold"></i>
					<span class="sr-only">Toggle Menu</span>
				</button>
			</div>
			
			<div class="p-4">
				<h1><a href="#" class="logo"><img src="{% static 'assets/img/logo.png' %}" alt="" width="100" height="100"></h1>
				<ul class="list-unstyled components mb-5">

					<li>
					<a href="{% url 'home' %}" class="custom-text"><i class="bi bi-house mr-3 custom-text"></i> Home</a>
					</li>

					<li class="active">
						<a href="{% url 'profile' %}" class="custom-text"><i class="bi bi-pencil-fill mr-3"></i> Edit Profile</a>
					</li>

					<li>
						<a href="{% url 'latest-news' %}" class="custom-text"><i class="bi bi-file-spreadsheet mr-3 custom-text"></i> Latest Health News</a>
					</li>

					<li>
						<a href="{% url 'courses' %}" class="custom-text"><i class="bi bi-card-heading mr-3 custom-text"></i> Courses</a>
					</li>

					<li>
						<a href="{% url 'hospital-finder' %}" class="custom-text"><i class="bi bi-search mr-3 custom-text"></i> Hospital Finder</a>
					</li>

					<li>
						<a href="{% url 'first-aid' %}" class="custom-text"><i class="bi bi-plus mr-3 custom-text"></i> First Aid</a>
					</li>

					<li>
						<a href="{% url 'doctor' %}" class="custom-text"><i class="bi bi-calendar-plus mr-3 custom-text"></i> Book Appointments</a>
					</li>

					<li>
						<a href="{% url 'my-appointments' %}" class="custom-text"><i class="bi bi-calendar-plus-fill mr-3 custom-text"></i>My Appointments</a>
					</li>

					<li>
						<a href="{% url 'logout' %}" class="custom-text"><i class="bi bi-arrow-right mr-3 custom-text"></i> Logout</a>
					</li>

				</ul>
			</div>

			<div class="footer">
				<p class="mr-3">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Sigma</p>
			</div>

		</nav>

		<!-- Page Content  -->
		<div id="content" class="p-2 p-md-5 pt-5">
			{% block content %}
			
			{% endblock %}
			
		</div>
	</div>


    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script>AOS.init();</script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


  </body>
</html>