{% extends 'base2.html' %}
{% load static %}
{% block content %}

  <section id="header">
    <h3>Learn Something <span>New</span></h3>
    <p class="lead">Ready to spice up your medical knowledge? Sigma's courses bring you the best from the best, delivering new insights straight from the source!. Select one of these categories to get started</p>
  </section>

  <section id="popular-courses" class="courses">
    <div class="" data-aos="fade-up"  data-aos-delay="500">
        <div class="row" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
                <div class="course-item">
                    <img src="{% static 'assets/img/self-care.jpg' %}" class="img-fluid" alt="...">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a href="{% url 'self-health' %}"><h4>Get Started</h4></a>
                            <p class="price"></p>
                            </div>

                            <h3><a href="">Self Health</a></h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis doloribus laudantium error numquam, mollitia fugiat dolorum. Facilis culpa laudantium qui quae repudiandae, adipisci necessitatibus tempora quia commodi, numquam temporibus omnis.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                {% comment %} <i class="bi bi-person-fill"></i> {% endcomment %}
                                <span>Sigma</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
                <div class="course-item">
                    <img src="{% static 'assets/img/mental-health.jpg' %}" class="img-fluid" alt="...">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a href="{% url 'mental-health' %}"><h4>Get Started</h4></a>
                            <p class="price"></p>
                            </div>

                            <h3><a href="">Mental Health</a></h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis doloribus laudantium error numquam, mollitia fugiat dolorum. Facilis culpa laudantium qui quae repudiandae, adipisci necessitatibus tempora quia commodi, numquam temporibus omnis.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                {% comment %} <i class="bi bi-person-fill"></i> {% endcomment %}
                                <span>Sigma</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
                <div class="course-item">
                    <img src="{% static 'assets/img/care.jpg' %}" class="img-fluid" alt="...">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a href="{% url 'care-giving' %}"><h4>Get Started</h4></a>
                            <p class="price"></p>
                            </div>

                            <h3><a href="">Care Giving</a></h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis doloribus laudantium error numquam, mollitia fugiat dolorum. Facilis culpa laudantium qui quae repudiandae, adipisci necessitatibus tempora quia commodi, numquam temporibus omnis.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                {% comment %} <i class="bi bi-person-fill"></i> {% endcomment %}
                                <span>Sigma</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
                <div class="course-item">
                    <img src="{% static 'assets/img/psycology.jpg' %}" class="img-fluid" alt="...">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a href="{% url 'psycology' %}"><h4>Get Started</h4></a>
                            <p class="price"></p>
                            </div>

                            <h3><a href="">Psycology</a></h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis doloribus laudantium error numquam, mollitia fugiat dolorum. Facilis culpa laudantium qui quae repudiandae, adipisci necessitatibus tempora quia commodi, numquam temporibus omnis.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                {% comment %} <i class="bi bi-person-fill"></i> {% endcomment %}
                                <span>Sigma</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
                <div class="course-item">
                    <img src="{% static 'assets/img/dental.jpg' %}" class="img-fluid" alt="...">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a href="{% url 'dental-health' %}"><h4>Get Started</h4></a>
                            <p class="price"></p>
                            </div>

                            <h3><a href="">Dental Health</a></h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis doloribus laudantium error numquam, mollitia fugiat dolorum. Facilis culpa laudantium qui quae repudiandae, adipisci necessitatibus tempora quia commodi, numquam temporibus omnis.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                {% comment %} <i class="bi bi-person-fill"></i> {% endcomment %}
                                <span>Sigma</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
                <div class="course-item">
                    <img src="{% static 'assets/img/fitness.jpg' %}" class="img-fluid" alt="...">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <a href="{% url 'physical-fitness-and-exercise' %}"><h4>Get Started</h4></a>
                            <p class="price"></p>
                            </div>

                            <h3><a href="">Physical Fitness and Exercise</a></h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis doloribus laudantium error numquam, mollitia fugiat dolorum. Facilis culpa laudantium qui quae repudiandae, adipisci necessitatibus tempora quia commodi, numquam temporibus omnis.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                            <div class="trainer-profile d-flex align-items-center">
                                {% comment %} <i class="bi bi-person-fill"></i> {% endcomment %}
                                <span>Sigma</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Course Item-->

        </div>

    </div>
  </section><!-- End Courses Section -->

{% endblock %}