{% extends 'base2.html' %}
{% load static %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/doc.css' %}">
{% endblock %}
<div class="container mt-5">
    
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-5mana py-4">
                <div class="text-center">
                    <img src="{{user_object.picture.url}}" width="100" class="rounded-circle">
                </div>
                
                <div class="text-center mt-3">
                    {% comment %} <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span> {% endcomment %}
                    <h5 class="mt-2 mb-0">{{user_object.name}}</h5>
                    <span>UI/UX Designer</span>
                    <div class="px-4 mt-1">
                        <p class="">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>    
                    <div class="buttons">
                        <button class="btn btn-outline-secondary px-4">Message</button>
                        <button class="btn btn-custom px-4 ms-3">Contact</button>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</div>
{% endblock %}