{% extends 'base2.html' %}
{% load static %}
{% block content %}
<section id="header">
    <h3>Book an <span>Appointment</span></h3>
    <p class="lead">Stay ahead of the health game with regular doctor visits! Research reveals that folks who see a physician at least once a month enjoy better health. Don't wait till it's too late, schedule your appointment now and start thriving!</p>
  </section>

  <section id="popular-courses" class="courses">
    <div class="" data-aos="fade-up"  data-aos-delay="500">
        <div class="row" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
                <div class="course-item">
                <img src="{% static 'assets/img/7303557.jpg' %}" class="img-fluid" alt="...">
                <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{{a.link_to_pay}}"><h4>View Profile</h4></a>
                    <p class="price"></p>
                    </div>

                    <h3><a href="">Dr. Rosenberg</a></h3>
                    <p>{% lorem 1 b random %}</p>
                    <div class="trainer d-flex justify-content-between align-items-center">
                    <div class="trainer-profile d-flex align-items-center">
                        {% comment %} <i class="bi bi-person-fill"></i> {% endcomment %}
                        <span>Sigma</span>
                    </div>
                    <!-- <div class="trainer-rank d-flex align-items-center">
                        <i class="bx bx-user"></i>&nbsp;50
                        &nbsp;&nbsp;
                        <i class="bx bx-heart"></i>&nbsp;65
                    </div> -->
                    </div>
                </div>
                </div>
            </div> <!-- End Course Item-->

        </div>

    </div>
  </section><!-- End Popular Courses Section -->

{% endblock %}