<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Sigma</title>
</head>
<body>
    <section id="intro">
        <div class="content">
            <h1>Welcome to Sigma</h1>
            <p>Hello there and welcome to Sigma V1.0, where we hope to solve all of the problems of misinformation in the world of medicine.</p>
            <p>Sigma is a comprehensive health web application that simplifies access to essential medical services and resources right at your fingertips. With Sigma, users can easily locate nearby hospitals, access crucial medical information while filtering out medical misinformation, and find helpful learning resources without leaving the comfort of their devices. It's your one-stop-shop for all your healthcare needs!</p>
            <p>Now, I know you might be wondering why we chose the name "Sigma" and all but here's why we went with it. In maths, the symbol Sigma represents summation and Sigma in our own context is the summation just about any medical service that you could need.</p>
            <p>Sigma is a product that was built for the google solutions challenge so, some of the features are kind of limited like the Appointment booker for instance. It won't connect to any doctors but, you can help us out by testing out the feature and sending us an email.</p>
            <p>Feel free to take advantage of all of the other features such as our E-learning feature, First Aid Feature, Hospital Finder and our Latest Health News Section.</p>
            <p>If you have any questions or any difficulties, do contact us <a href="mailto:tobiekundayo07@gmail.com">here</a> and our representatives will get back to you as soon as possible.</p>
            <p><strong>Best Regards</strong></p>
            <p>Sigma Team Lead</p>
            <p>Oluwatobi Ekundayo</p>
        </div>
    </section>
</body>
</html>