{% extends 'base2.html' %}
{% block content %}
<section id="header">
    <h3>My <span>Appointments</span></h3>
    <p class="lead">Here, you can see all of the appointments that you have booked in the past as well the details of the appointment</p>
  </section>

  <section id="popular-courses" class="courses">
    <div class="" data-aos="fade-up"  data-aos-delay="500">
        <div class="row" data-aos-delay="100">
            {% for a in appointments %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                    <div class="course-content">
                        {% comment %} <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4><a href="#" class="white-text">{{a.category}}</a></h4>
                        </div> {% endcomment %}
                        {% comment %} <h3><a href="{% url 'first-det' a.pk %}">{{a.title}}</a></h3> {% endcomment %}
                        <p>{{a.subject}}</p>
                        <p>{{a.message}}</p>
                        <P>{{a.date_booked}}</p>
                        <p>Dr. {{a.doctor}}</p>
                        {% comment %} <a href="{% url 'first-det' a.pk %}" class="btn btn-secondary btn-custom me-2 custom-text mb-3">Get Started</a> {% endcomment %}
                        <div class="trainer d-flex justify-content-between align-items-center">
                        <div class="trainer-profile d-flex align-items-center">
                            <i class="bi bi-person-fill"></i>
                            <span>Sigma</span>
                        </div>
                        </div>
                    </div>
                    </div>
                </div> <!-- End Course Item-->
            {% endfor %}
        </div>
    </div>
  </section><!-- End Courses Section -->
{% endblock %}