{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="login" class="">
    <div class="container-fluid vh-75" style="margin-top:70px">
        <div class="" style="margin-top:50px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5">
                    <div class="text-center">
                        <h3 class="header-color text-start">Email Sent</h3>
                        <p class="green-text" style="text-align: justify;">Okay, we just sent you an email with instructions to help you change your password. Be sure to check your spam folder too.</p>
                        <!-- {% if messages %}
                        {% for message in messages %}
                        <p class="header-color">{{message}}</p>
                        {% endfor %}
                        {% endif %} -->
                    </div>
                   <!-- <form action="" method="POST"> -->
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}