{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section id="login" class="">
    <div class="container-fluid vh-75" style="margin-top:70px">
        <div class="" style="margin-top:50px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5">
                    <div class="text-center">
                        <h3 class="header-color text-start">Password Reset</h3>
                        <p class="green-text" style="text-align: justify;">Okay, you've successfully reset your password. Click <a href="{% url 'login' %}" style="color: red !important;">here</a> to login to your account</p>
                        <!-- {% if messages %}
                        {% for message in messages %}
                        <p class="header-color">{{message}}</p>
                        {% endfor %}
                        {% endif %} -->
                    </div>
<!--                     <form action="" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}